.sample_image{
    width: 100% !important;
}

.slick_next_arrow:before {
    content: "\276F" !important;
    color:#000000;
    font-size:40px;
}

.slick_prev_arrow:before {
    content: "\276E" !important;
    color:#000000;
    font-size:40px;
}